# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/

# Django
*.log
media/

# Static files collection
staticfiles/

# Environment
.env
venv/
.venv/

# IDE
.vscode/
.idea/
*.swp
*.swo

.vercel
